 {% extends 'base.html' %}

{% load app_filters %}

{% load staticfiles %}

{% block page_title %} Case Record Sheet {% endblock %}

{% block style_code %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<h1 class="page-header">Forms <small>Search Child</small></h1>

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Child</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="{% url 'case_record_sheet' %}" method="POST" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.search_name }}
                        </div>
                        <div class="form-group">
                            {{ form.search_criteria }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search</b>
                        </button>
                        <a href="{% url 'new_person' %}" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;<b>Register New Child</b>
                        </a>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    {% if resultsets %}
    <div class="panel-body">
        <div class="table-responsive">
            <table id="data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Sex</th>  
                        <th>OrgUnit</th>
                        <th>Residence</th>
                        <th>Previous Cases</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in resultsets %}
                    <tr>                                        
                        <td>{{ result.id }}</a></td>
                        <td>{{ result.first_name }}</td>
                        <td>{{ result.surname }}</td>
                        <td>{{ result.sex_id|gen_value:vals }}</td>
                        <td>No OrgUnit Info</td>
                        <td>{{ result.ovc_persongeos }}</td>
                        <td><h6>{{ result.case_count }}</h6></td>
                     
                        <td>                                  
                            <button class="btn  btn-sm btn-primary m-r-5" onClick="open_form({{result.id}})" >
                                <b>New Case Record Sheet</b>&nbsp;&nbsp;<i class="fa fa-file"></i>                          
                            </button>
                        </td>
                    </tr>                              
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div align="center" class="norecords">No records found.</div>
    {% endif %}
</div>

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script>
function register_new()
{
    return window.location.href='{% url 'new_person' %}'; 
}
function open_form(id)
{
    return window.location.href='{% url 'new_case_record_sheet' id=0 %}'.replace("0", id);       
}
</script>
<script>
$(document).ready(function() 
{
    $('#data-table').bootstrapTable(
    { 
        toggle: 'table', 
        search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 10,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true        
    });
});
</script>
<!--<script src="{% static 'js/apps.js' %}"></script>-->
{% endblock %}
