{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Institutional Placement {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>

<!-- begin page-header -->
{% for data in init_data %}
    <h1 class="page-header">Forms <small>New Institutional Placement | {{ data.first_name }} {{ data.surname }}</small></h1>
{% endfor %}
<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><b>Placement</b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="{% url 'save_placement' %}" method="POST" data-parsley-validate="true"
                name="form-wizard-placement" id="new_placement">
                    {% csrf_token %}
                    <div id="wizard_placement">
                        <ol>
                            <li>
                                About the Child 
                                <small>Name and additional details.</small>
                            </li>
                            <li>
                                Institution & Admission Data 
                                <small>Admitting institution and details.</small>
                            </li>
                            <li>
                                Placement Data 
                                <small>Placement data and details.</small>
                            </li>                            
                        </ol>

                        {{ form.placement_type }}
                        {{ form.person_id }}
                        {{ form.user_id }}

                        <!-- begin wizard step-1 -->
                            <div class="wizard-step-1">
                                <fieldset>
                                    <legend class="pull-left width-full">About the Child</legend>
                                    <div class="row">                                         

                                    {% if init_data %}
                                    <div align="left" class="col-md-8 col-sm-8">
                                        {% for data in init_data %}
                                        <!-- <h4>Child Basic Details Not Required For Normal Placement</h4> -->
                                            <h6> CHILD NAMES :     <b>{{ data.first_name }} {{ data.surname }}</b></h6>
                                            <h6> DATE OF BIRTH :    <b>{{ data.date_of_birth }}</b></h6>
                                            <h6> SEX :     <b>{{ data.sex_id|gen_value:vals }}</b></h6>
                                            <h6> AGE :     <b>
                                            {% if data.date_of_birth|gen_age == 0 %}
                                                UNDER 1 YEAR
                                            {% else %}
                                                {{ data.date_of_birth|gen_age }} YRS 
                                            {% endif %}</b>
                                            </h6>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                                                               
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">Institution & Admission Data</legend>
                                <div class="row"> 
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Name of Institution : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.residential_institution_name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Type of Admission : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.admission_type }}
                                        </div>
                                    </div>
                                    <div id="div_transfer_from" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Transfered From : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.transfer_from }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Date of Admission : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.admission_date }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Reason Of Admission : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.admission_reason }}
                                        </div>
                                    </div>                                    
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="wizard-step-3">
                             <fieldset>
                                <legend class="pull-left width-full">Placement Data</legend>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Court Committal Order? : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.has_court_committal_order }}
                                        </div>
                                    </div>                                     
                                    <div id="div_holding_period" class="form-group" style="display: none;">
                                        <label class="control-label col-md-4 col-sm-4">Holding Period(days) : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.holding_period }}
                                        </div>
                                    </div>
                                    <div id="div_court_order_number" class="form-group" style="display:none">
                                        <label class="control-label col-md-4 col-sm-4">Court Order Number : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.court_order_number }}
                                        </div>
                                    </div>
                                    <div id="div_court_order_issue_date" class="form-group" style="display:none">
                                        <label class="control-label col-md-4 col-sm-4">Court Order Issue Date : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.court_order_issue_date }}
                                        </div>
                                    </div>
                                    <div id="div_committing_court" class="form-group" style="display:none">
                                        <label class="control-label col-md-4 col-sm-4">Committing Court : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.committing_court }}
                                        </div>
                                    </div>

                                    <div id="div_committing_period" class="form-group" style="display:none">
                                        <label class="control-label col-md-4 col-sm-4" >Committing Period : <span class="asteriskField"> * </label>
                                        <div class="col-md-2 col-sm-2">
                                            {{ form.committing_period_units }}
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            {{ form.committing_period }}
                                        </div>
                                    </div>

                                    <div id="div_ob_number" class="form-group" style="display:none">
                                        <label class="control-label col-md-4 col-sm-4" >OB Number : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.ob_number }}
                                        </div>
                                    </div>
                                    <div div id="div_free_for_adoption" class="form-group" style="display:none">
                                        <label class="control-label col-md-4 col-sm-4">Free for Adoption? : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.free_for_adoption }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Placement Notes :</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.placement_notes }}
                                        </div>
                                    </div>                            
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->
                                         

                    </div>

                    <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button id="mysubmit10" type="submit" class="btn btn-primary">Submit</button>
                                    <button class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->

{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script>
jQuery(document).ready(function() 
{
    // get org_units a user ia attached to of org_unit_type = ['TNAS','TNSI','TNCI']
    // populate institution names with this list
    getUserOrgUnits();

    //multi selects
    $('#residential_institution_name, #transfer_from').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white'
    });

    // Handling Court divs Show/Hide
    var has_court_committal_order = $("#has_court_committal_order").val();
    if(has_court_committal_order == 'AYES')
    {
        $('#div_court_order_issue_date').css({'display': 'block'})
        $('#div_court_order_number').css({'display': 'block'})
        $('#div_committing_court').css({'display': 'block'})
        $('#div_committing_period').css({'display': 'block'})
        $('#div_ob_number').css({'display': 'none'});
        $('#div_holding_period').css({'display': 'none'});

        $('#court_order_issue_date').attr('data-parsley-required', 'true');
        $('#court_order_number').attr('data-parsley-required', 'true');
        $('#committing_court').attr('data-parsley-required', 'true');
        $('#committing_period').attr('data-parsley-required', 'true');
        $('#committing_period_units').attr('data-parsley-required', 'true');
        $('#ob_number').attr('data-parsley-required', 'false');
        $('#ob_number').val('');
        $('#holding_period').attr('data-parsley-required', 'false');
        $('#ob_number').val('');
    }
    if(has_court_committal_order == 'ANNO')
    {
        $('#div_court_order_issue_date').css({'display': 'none'})
        $('#div_court_order_number').css({'display': 'none'})
        $('#div_committing_court').css({'display': 'none'})
        $('#div_committing_period').css({'display': 'none'})   
        $('#div_ob_number').css({'display': 'block'});
        $('#div_holding_period').css({'display': 'block'});

        $('#court_order_issue_date').attr('data-parsley-required', 'false');
        $('#court_order_issue_date').val('');
        $('#court_order_number').attr('data-parsley-required', 'false');
        $('#court_order_number').val('');
        $('#committing_court').attr('data-parsley-required', 'false');
        $('#committing_court').val('');
        $('#committing_period').attr('data-parsley-required', 'false');
        $('#committing_period').val('');
        $('#committing_period_units').attr('data-parsley-required', 'false');
        $('#committing_period_units').val('');
        $('#ob_number').attr('data-parsley-required', 'true');
        $('#holding_period').attr('data-parsley-required', 'true');
    }

    // handling div_transfer_from hide/show
    var admission_type = $("#admission_type").val();
    if(admission_type == 'TRIN')
    {
        $('#div_transfer_from').css({'display': 'block'});
        $('#transfer_from').attr('data-parsley-required', 'true');
    }
    else
    {
        $('#div_transfer_from').css({'display': 'none'});
        $('#transfer_from').attr('data-parsley-required', 'false');
        $('#transfer_from').multiselect("clearSelection");
        $('#transfer_from').multiselect("refresh");
    }

    $('html,body').scrollTop(0);
    FormWizardValidation.init(); 
});

// Handling Court divs Show/Hide
$("#has_court_committal_order").change(function(event) 
{ 
    var has_court_committal_order = $("#has_court_committal_order").val();
    if(has_court_committal_order == 'AYES')
    {
        $('#div_court_order_issue_date').css({'display': 'block'})
        $('#div_court_order_number').css({'display': 'block'})
        $('#div_committing_court').css({'display': 'block'})
        $('#div_committing_period').css({'display': 'block'})
        $('#div_ob_number').css({'display': 'none'});
        $('#div_holding_period').css({'display': 'none'});

        $('#court_order_issue_date').attr('data-parsley-required', 'true');
        $('#court_order_number').attr('data-parsley-required', 'true');
        $('#committing_court').attr('data-parsley-required', 'true');
        $('#committing_period').attr('data-parsley-required', 'true');
        $('#committing_period_units').attr('data-parsley-required', 'true');
        $('#ob_number').attr('data-parsley-required', 'false');
        $('#ob_number').val('');
        $('#holding_period').attr('data-parsley-required', 'false');
        $('#ob_number').val('');
    }
    if(has_court_committal_order == 'ANNO')
    {
        $('#div_court_order_issue_date').css({'display': 'none'})
        $('#div_court_order_number').css({'display': 'none'})
        $('#div_committing_court').css({'display': 'none'})
        $('#div_committing_period').css({'display': 'none'})   
        $('#div_ob_number').css({'display': 'block'});
        $('#div_holding_period').css({'display': 'block'});

        $('#court_order_issue_date').attr('data-parsley-required', 'false');
        $('#court_order_issue_date').val('');
        $('#court_order_number').attr('data-parsley-required', 'false');
        $('#court_order_number').val('');
        $('#committing_court').attr('data-parsley-required', 'false');
        $('#committing_court').val('');
        $('#committing_period').attr('data-parsley-required', 'false');
        $('#committing_period').val('');
        $('#committing_period_units').attr('data-parsley-required', 'false');
        $('#committing_period_units').val('');
        $('#ob_number').attr('data-parsley-required', 'true');
        $('#holding_period').attr('data-parsley-required', 'true');
    }
});
$('#has_court_committal_order').trigger('change');

$("#admission_type").change(function(event) 
{ 
    var admission_type = $("#admission_type").val();
    if(admission_type == 'TRIN')
    {
        $('#div_transfer_from').css({'display': 'block'});
        $('#transfer_from').attr('data-parsley-required', 'true');
    }
    else
    {
        $('#div_transfer_from').css({'display': 'none'});
        $('#transfer_from').attr('data-parsley-required', 'false');
        $('#transfer_from').multiselect("clearSelection");
        $('#transfer_from').multiselect("refresh");
    }
});

function getUserOrgUnits()
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var user_id = $('#user_id').val();
    var values = {  
                    'user_id' : user_id,
                    'types': 3,
                    'csrfmiddlewaretoken': csrftoken
                 }; 
    $.ajax({
            url: '{% url 'userorgunits_lookup' %}',
            dataType: 'json',
            method: 'POST',
            data: values,
            success: function(result)
            {
                var multiselect_data = [];
                var multiselect_dict = {};
                var multiselect_dict_initial = { label:'Please Select', value:''};
                multiselect_data.push(multiselect_dict_initial);

                $.each(result, function(i, val) {  
                    
                    // Prepopulate multiselects from json 
                    var org_unit_id = val.id;
                    var org_unit_name = val.org_unit_name;
                    var multiselect_dict = { label: org_unit_name, value: org_unit_id };
                    multiselect_data.push(multiselect_dict);
                });

                //Case To Attach - multi selects
                // $('#residential_institution_name, #transfer_from').multiselect({
                $('#residential_institution_name').multiselect({
                    selectMultiple: false,
                    selectAllValue: 'multiselect-all',
                    includeSelectAllOption: true,
                    enableCaseInsensitiveFiltering: true,
                    numberDisplayed: 1,
                    maxHeight: 300,
                    buttonWidth: '100%',
                    buttonClass: 'btn btn-white'
                }); 
                $('#residential_institution_name').empty();                             
                $("#residential_institution_name").multiselect('dataprovider', multiselect_data);
                $("#residential_institution_name").multiselect('refresh');
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        }); 
}
</script>
{% endblock %}
