{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Alternative Family Care {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
{% for data in init_data %}
    <h1 class="page-header">Forms <small>View Alternative Family Care  | {{ data.first_name }} {{ data.surname }}</small></h1>
{% endfor %}
<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><b> Alternative Family Care </b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true"
                name="form-wizard-family-care" id="edit_alternative_family_care">
                    {% csrf_token %}
                    <div id="wizard_familycare">
                        <!--
                        <ol>
                            <li>
                                Family Care Details 
                                <small> Family Care and additional details.</small>
                            </li>                           
                        </ol>
                        -->

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Family Care Details</legend>
                                <div class="row"> 
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_care">Type of Care : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.type_of_care|gen_value:vals }}
                                        </div>
                                    </div>

                                    {% if ovc_familycare_results.residential_institution_name %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Institution Name : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.residential_institution_name|gen_orgunitname }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.adoption_type %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">Type of Adoption : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.adoption_type }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.adoption_subcounty %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Destination Subcounty : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.adoption_subcounty.area_id|gen_areaname }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.adoption_country %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Destination Country : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.adoption_country }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.certificate_number %}   
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">P&C/Certificate Number : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.certificate_number }}
                                        </div>
                                    </div> 
                                    {% endif %}

                                    {% if ovc_familycare_results.date_of_adoption %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Date : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.date_of_adoption }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.court_name %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Court Name : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.court_name }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.court_file_number %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Court File Number : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.court_file_number }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.parental_status %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Parental Status : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.parental_status|gen_value:vals }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.adopting_mother_firstname %} 
                                    <div id="div_adopting_mother" class="form-group" style="display: none;">
                                        <label class="control-label col-md-4 col-sm-4" for="adopting_mother_name">Mother Name(s): <span class="asteriskField"> * </label>
                                        <div class="col-md-2 col-sm-2">
                                            {{ form.adopting_mother_firstname }}
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            {{ form.adopting_mother_othernames }}
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            {{ form.adopting_mother_surname }}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if ovc_familycare_results.adopting_mother_idnumber %}
                                    <div id="div_adopting_mother_idnumber" class="form-group" style="display: none;">
                                        <label class="control-label col-md-4 col-sm-4" for="adopting_mother_idnumber">Mother ID Number : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.adopting_mother_idnumber }}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if ovc_familycare_results.adopting_mother_contacts %}
                                    <div id="div_adopting_mother_contacts" class="form-group" style="display: none;">
                                        <label class="control-label col-md-4 col-sm-4" for="adopting_mother_contacts">Mother Contacts : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.adopting_mother_contacts }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.adopting_father_firstname %} 
                                    <div id="div_adopting_father" class="form-group" style="display: none;">
                                        <label class="control-label col-md-4 col-sm-4" for="adopting_father_name">Father Name(s): <span class="asteriskField"> * </label>
                                        <div class="col-md-2 col-sm-2">
                                            {{ form.adopting_father_firstname }}
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            {{ form.adopting_father_othernames }}
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            {{ form.adopting_father_surname }}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if ovc_familycare_results.adopting_father_idnumber %}
                                    <div id="div_adopting_father_idnumber" class="form-group" style="display: none;">
                                        <label class="control-label col-md-4 col-sm-4" for="adopting_father_idnumber">Father ID Number : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.adopting_father_idnumber }}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if ovc_familycare_results.adopting_father_contacts %}
                                    <div id="div_adopting_father_contacts" class="form-group" style="display: none;">
                                        <label class="control-label col-md-4 col-sm-4" for="adopting_father_contacts">Father Contacts : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.adopting_father_contacts }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.adopting_agency %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="adopting_agency"> Agency : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.adopting_agency|gen_orgunitname }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.children_office %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="children_office"> Children Office : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.children_office|gen_orgunitname }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.contact_person %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="contact_person"> Children Office(Contact) : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.contact_person }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if ovc_familycare_results.adoption_remarks %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="adoption_remarks"> Remarks : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovc_familycare_results.adoption_remarks }}
                                        </div>
                                    </div>
                                    {% endif %}
                                                                               
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->                                         

                    </div>

                    <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <p></p>
                                    <button class="btn btn-primary">Print PDF</button>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->

{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script>
jQuery(document).ready(function() 
{
    $('html,body').scrollTop(0);
    // FormWizardValidation.init();
});
</script>
{% endblock %}
