{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Child Background Details {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->


<!-- begin page-header -->
{% for data in init_data %}
    <h1 class="page-header">Forms <small>View Child School Details | {{ data.first_name }} {{ data.surname }}</small></h1>
{% endfor %}
<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><b>Education Background</b></h4>
            </div>
            <div class="panel-body">
                 <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true"
                name="form-wizard-education1" id="view_education">
                    {% csrf_token %}
                    <div id="wizard_education1">

                        <!--
                            <ol>
                                <li>
                                    Child School Information
                                    <small>Child school details.</small>
                                </li>
                         
                            </ol>
                        -->

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Child School Information</legend>
                                <div class="row">

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Admitted to School : : <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ ovceducationfollowup.admitted_to_school|gen_value:vals }}
                                        </div>
                                    </div>

                                    {% if ovceducationfollowup.admitted_to_school == 'ANNO' %}
                                        <div id="div_not_in_school_reason" class="form-group">
                                            <label class="control-label col-md-4 col-sm-4">Out of School Reason : <span class="asteriskField">*</label>
                                            <div class="col-md-6 col-sm-6">
                                                    {{ ovceducationfollowup.not_in_school_reason|gen_value:vals }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div id="div_name_of_school" class="form-group">
                                            <label class="control-label col-md-4 col-sm-4">Name of School : <span class="asteriskField">*</label>
                                            <div class="col-md-6 col-sm-6">
                                                    {{ ovceducationfollowup.school_id_id|gen_schoolname }}
                                            </div>
                                        </div>

                                        <div id="div_admmission_type" class="form-group">
                                            <label class="control-label col-md-4 col-sm-4">Admission Type :  <span class="asteriskField">*</label>
                                            <div class="col-md-6 col-sm-6">
                                                    {{ ovceducationfollowup.school_admission_type|gen_value:vals }}
                                            </div>
                                        </div>

                                        <div id="div_admission_date" class="form-group">
                                            <label class="control-label col-md-4 col-sm-4">Admission Date :  <span class="asteriskField">*</label>
                                            <div class="col-md-6 col-sm-6">
                                                    {{ ovceducationfollowup.admission_to_school_date }}
                                            </div>
                                        </div>

                                        <div id="div_admmission_class" class="form-group">
                                            <label class="control-label col-md-4 col-sm-4">Admission Class/Level : <span class="asteriskField">*  </label>
                                                <div class="col-md-6 col-sm-6">
                                                    {{ ovceducationlevelfollowup.admission_level|gen_value:vals }}
                                                    <span id="sel_admmission_class"></span>
                                                    <br>
                                                    {% if ovceducationlevelfollowup.admission_sublevel %}
                                                    <div id="div_admmission_subclass">
                                                        <h6>Specify Vocational Training: </h6>{{ ovceducationlevelfollowup.admission_sublevel|gen_value:vals }}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                        </div>
                                    {% endif %}                                    

                                    <div id="div_education_comments" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Education Comments : </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ ovceducationfollowup.education_comments }}
                                        </div>
                                    </div>
                                                                                                      
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->
                    </div>

                    <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <p></p>
                                    <button id="mysubmit_update" type="submit" class="btn btn-primary">Print PDF</button>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->

                </form>
            </div>
        </div>

        <!-- end panel -->
    </div>
    <!-- end col-12 -->

<!-- end row -->
<!-- End content area -->

</script>
{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script>
jQuery(document).ready(function() 
{
    $('html,body').scrollTop(0);
    FormWizardValidation.init();
});
</script>
{% endblock %}
