{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} Organization Unit Search {% endblock %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Registry</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Organizational Unit Registry <small>Search unit</small></h1>
<!-- end page-header -->
{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}
        
    	<p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}
{% if message %}
	<div id="messages" class="alert alert-success fade in">
	    <span class="close" data-dismiss="alert">×</span>
	    <i class="fa fa-check fa-2x pull-left"></i>
	    <p class="invalid-form-message"> {{ message }}</p>
	</div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h4 class="panel-title">Search Organisational Unit</h4>
            </div>
            <div class="panel-body">
                <form class="form-inline" action="{% url 'registry' %}" method="POST" data-parsley-validate="true">
                   {% csrf_token %}
                   <div class="form-group m-r-10">
                        {{ form.org_category }}
                    </div>
                   <div class="form-group m-r-10">
                        {{ form.org_type }}
                    </div>
					<div class="form-group m-r-10">
						{{ form.org_unit_name }}
					</div>

					<div class="checkbox m-r-10">
						<label>
							{{ form.org_closed }} Include closed units
						</label>
					</div>
					<button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp;Search</button>
					<a href="{% url 'registry_new' %}">
					<button type="button" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-plus"></i>&nbsp;Register New</button></a>
				</form>						
            </div>
        </div>
        <!-- end panel -->
        {% if results|length %}
        <div class="panel-body">
            <div class="table-responsive">
                <table id="data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Org Unit ID</th>
                            <th>Unit Name</th>
                            <th width="25%">Unit Type</th>
                            <th>Parent Unit</th>
                            <th width="15%">Geo Links</th>
                            <th>Status</th>
                            <th width="15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            <td>{{ result.org_unit_id_vis }}</td>
                            <td>{{ result.org_unit_name }}</td>
                            <td>{{ result.org_unit_type_id|gen_value:vals }}</td>
                            <td>{{ result.parent_org_unit_id|gen_value:vals }}</td>
                            <td>
                            {% if result.pk|gen_value:geos %}
                                {{ result.pk|gen_value:geos|truncatechars:100  }}
                            {% else %}
                                National
                            {% endif %}
                            </td>
                            <td>
                                {% if result.date_closed == None %}
                                    Operational
                                {% else %}
                                    Closed
                                {% endif %}
                            </td>
                            <td>
                            <a href="{% url 'registry' %}{{ result.pk }}">
                            <button type="button" class="btn btn-sm btn-primary m-r-5">
                            View Details &nbsp;<i class="fa fa-binoculars"></i>
                            </button>
                            </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end panel -->
        {% else %}
        	<div class="norecords">No records found.</div>
        {% endif %}
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}
	<script src="{% static 'plugins/datatables/js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/table-manage-default.js' %}"></script>
	<script>
		$(document).ready(function() {
			TableManageDefault.init();

            var unit_category = $("#id_org_category").val();
            handle_subcat(unit_category);

             $("#id_org_category").change(function(e) {
                var unit_category = $("#id_org_category").val();
                handle_subcat(unit_category);
            });

            function handle_subcat(area_value){
                {% for key, values in orgs.items %}
                   var {{ key }} = {{ values|safe }};
                {% endfor %}

                $('#id_org_type').html("<option value=''>All Types</option>");
                if (area_value != ''){
                    eval(area_value).forEach(function(orgs) {
                        var orgs_attribs = orgs.split(",");
                        $('#id_org_type')
                            .append($("<option></option>")
                            .attr("value", orgs_attribs[0])
                            .text(orgs_attribs[1]));
                    });
                }else{
                     $('#id_org_type').html("<option value=''>All Types</option>"); 
                }
                $('#id_org_type').val('{{ org_category }}');
            }
		});
	</script>
{% endblock %}
