{% extends 'base.html' %}
{% block page_title %} {{block.super}} New Persons registry {% endblock page_title%}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
{% endblock style_code%}

    
{% block primary %}  
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Persons</li>
</ol>
<h1 class="page-header">Persons Registry <small>New Child, Caregiver, Volunteer or Government / NGO employee</small></h1>
<!-- end breadcrumb -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>                      
                <h4 class="panel-title">Create Person &nbsp<i class="fa fa-male"></i> <span id="person_name"></span></h4>
                </div>

                    <div class="panel-body">
                        <form class="form-horizontal form-bordered" action="{% url 'new_person' %}" method="POST" data-parsley-validate="true" name="form-wizard" id="new_person">
                            {% csrf_token %}
                        <div class="row">
                        <fieldset>
                            <legend class="pull-left width-full">Personal details</legend>
                            <!-- begin col-4 -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group block1">
                                        <label for="person_type">Person Type <span class="asteriskField">*</span></label>
                                        {{ form.person_type }}
                                    </div>
                                </div>
                                <!-- end col-4 -->
                                <div class="col-md-4">
                                    <div id="is_caregiver_div" class="form-group block1">
                                        <label for="is_caregiver">Person is also a Caregiver <span class="asteriskField"></span></label>
                                        <br>
                                        {{ form.is_caregiver }} 
                                    </div>
                                </div>
                                <!-- end col-4 -->
                                <!-- begin col-4 -->
                                <div class="col-md-4">
                                    <div id="provides_service" class="form-group">
                                        <label for="child_services">Provides services directly to children <span class="asteriskField">*</span></label>
                                        <br>                                        
                                        {{ form.child_services }}
                                        <span id="services_error"></span>
                                    </div>
                                </div>
                                <!-- end col-4 -->
                                
                            </div>
                            <div class="divider pull-left width-full"></div>
                            <div class="row">
                                <!-- end col-4 -->
                                <div class="col-md-4">
                                    <div class="form-group block1">
                                        <label for="first_name">First Name <span class="asteriskField">*</span></label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <!-- end col-4 -->
                                <!-- begin col-4 -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="surname">Surname <span class="asteriskField">*</span></label>
                                        {{ form.surname }}
                                    </div>
                                </div>
                                <!-- end col-4 -->
                                <!-- begin col-4 -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="other_names">Other Name(s) <span class="asteriskField"></span></label>
                                        {{ form.other_names}}
                                    </div>
                                </div>
                                <!-- end col-4 -->
                            </div>
                            <div class="divider pull-left width-full"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group block1">
                                        <label for="sex_id">Sex <span class="asteriskField">*</span></label>
                                        {{ form.sex_id }}
                                    </div>
                                </div>
                                <!-- end col-4 -->
                                <!-- begin col-4 -->
                                <div class="col-md-4">
                                    <div id="dob_div" class="form-group">
                                        <label for="date_of_birth">Date of Birth <span class="asteriskField">*</span></label>
                                        {{ form.date_of_birth }}
                                    </div>
                                    <div id="title_type_div" class="form-group">
                                        <label for="title_type">Title <span class="asteriskField">*</span></label>
                                        {{ form.title_type }}
                                    </div>
                                </div>
                                <!-- begin col-4 -->
                                <div class="col-md-4">
                                    <div id="cadre_type_div" class="form-group">
                                        <label for="cadre_type">Designation <span class="asteriskField">*</span> :</label>
                                        {{ form.cadre_type }}
                                    </div>
                                    <div id="date_warning" class="form-group" style="display: none"></div>
                                </div>
                            </div>
                            <div class="divider pull-left width-full"></div>
                            </fieldset>

                            <!--- Start Wizard Block -->

                            <div id="wizard_persons">
                                    <ol>
                                        <li>
                                            Identification 
                                            <small>Person's identification details</small>
                                        </li>
                                        <li>
                                            Contact Details
                                            <small>Person's contact information.</small>
                                        </li>
                                        <li>
                                            Location
                                            <small>Living in and working in details.</small>
                                        </li>
                                        <li>
                                            Caregiver / Siblings
                                            <small>Child's caregiver(s) / sibling(s) details.</small>
                                        </li>
                                        <li>
                                            Organisation Unit
                                            <small>Units attached to person.</small>
                                        </li>
                                    </ol>
                                    <!-- begin wizard step-1 -->
                                    <div class="wizard-step-1">
                                        <fieldset>
                                            <legend class="pull-left width-full">Identification</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                <div id="national_id_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="national_id">National ID <span class="asteriskField">*</span> :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.national_id }}
                                                    </div>
                                                </div>
                                                <div id="birth_reg_id_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="birth_reg_id">Birth Registration Number :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.birth_reg_id }}
                                                    </div>
                                                </div>
                                                <div id="staff_id_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="staff_id">Staff No. / Registration No. / Serial No. :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.staff_id }}
                                                    </div> 
                                                </div>
                                                <div id="given_name_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="given_name">Child Given Name :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.given_name }}
                                                    </div>
                                                </div>
                                                <div id="nation_id_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="country">Country of Origin :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.country }}
                                                    </div>
                                                </div>
                                                <div id="tribe_id_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="tribe">Tribe :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.tribe }}
                                                    </div>
                                                </div>
                                                <div id="religion_id_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="religion">Religion :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.religion }}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <!-- end wizard step-1 -->
                                    <!-- begin wizard step-2 -->
                                    <div class="wizard-step-2">
                                        <fieldset>
                                            <legend class="pull-left width-full">Contact Information</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                <div id="des_phone_number" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="des_phone_number">Designated mobile Number :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                       {{ form.des_phone_number }}
                                                    </div>
                                                </div>
                                                <div id="other_phone_number" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="other_phone_number">Other mobile Number :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.other_phone_number }}
                                                    </div>
                                                </div> 
                                                <div id="email" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="email">Email Address :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.email }}
                                                    </div>
                                                </div>
                                                <div id="physical_location" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="physical_address">Physical Location :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.physical_address }}
                                                    </div>
                                                </div> 
                                                <!-- end col-6 -->
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <!-- end wizard step-2 -->
                                    <!-- begin wizard step-3 -->
                                    <div class="wizard-step-3">
                                        <fieldset>
                                            <legend class="pull-left width-full">Locations details</legend>
                                            <!-- begin row -->
                                            <div class="row" id="working_in_div">
                                                <!-- begin panel -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-heading-btn">
                                                            
                                                        </div>
                                                        <h4 class="panel-title">Working In</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group" id="working_in_region_div">
                                                           <label class="control-label col-md-4 col-sm-4" for="working_in_region">Region :</label>
                                                            <div class="col-md-4 col-sm-4">
                                                               {{ form.working_in_region }}
                                                            </div>
                                                            <div id="type_error"></div>
                                                        </div>
                                                        <div class="form-group" id="county_div">
                                                            <label class="control-label col-md-4 col-sm-4" for="working_in_county">County <span class="asteriskField">*</span> : </label>
                                                            <div class="col-md-4 col-sm-4 data-maxOptions=1" >
                                                                {{ form.working_in_county }}
                                                                <br>
                                                                <span id="sel_working_in_county" class="showlist"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="subcounty_div">
                                                            <label class="control-label col-md-4 col-sm-4" for="working_in_subcounty">Sub-county <span class="asteriskField">*</span> : </label>
                                                            <div class="col-md-4 col-sm-4 data-maxOptions=1" >
                                                                {{ form.working_in_subcounty }}
                                                                <br>
                                                                <span id="sel_working_in_subcounty" class="showlist"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="ward_div">
                                                            <label class="control-label col-md-4 col-sm-4" for="working_in_ward">Ward : </label>
                                                            <div class="col-md-4 col-sm-4 data-maxOptions=1" >
                                                                {{ form.working_in_ward }}
                                                                <br>
                                                                <span id="sel_working_in_ward" class="showlist"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                            </div>
                                            <!-- end row -->
                                            <div class="row" id="living_in_div">
                                                <!-- begin panel -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-heading-btn">
                                                            
                                                        </div>
                                                        <h3 class="panel-title">Living In</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-4" for="living_in_county">County <span class="asteriskField">*</span> : </label>
                                                            <div class="col-md-4 col-sm-4 data-maxOptions=1" >
                                                                {{ form.living_in_county }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-4" for="living_in_subcounty">Sub-county <span class="asteriskField">*</span> : </label>
                                                            <div class="col-md-4 col-sm-4" >
                                                                {{ form.living_in_subcounty }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4 col-sm-4" for="living_in_ward">Ward: </label>
                                                            <div class="col-md-4 col-sm-4" >
                                                                {{ form.living_in_ward }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <!-- end wizard step-3 -->
                                    <!-- begin wizard step-4 -->
                                    <div class="wizard-step-4">
                                        <fieldset>
                                            <legend class="pull-left width-full">Child caregiver and sibling details <small><span id="caregiver_info"></span></small></legend>
                                            <!-- begin row -->
                                            <div class="row" id="caregiver_add">
                                                <div class="col-md-6">
                                                    <!-- begin panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <div class="btn-group pull-right">
                                                                <a href="#modal-caregiver" class="btn btn-success" data-toggle="modal"> Attach caregiver</a>
                                                            </div>
                                                            <h3 class="panel-title">Caregiver</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div id="log_cgiver"></div>
                                                            <div class="form-group">
                                                            {{ form.caregiver_cpims_id }}
                                                            </div>
                                                            <table id="caregivers" class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="10%">ID</th>
                                                                        <th width="40%">Name</th>
                                                                        <th width="35%">Relationship with child</th>
                                                                        <th>Adult</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- begin panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <div class="btn-group pull-right">
                                                                <a href="#modal-sibling" class="btn btn-success" data-toggle="modal"> Add Sibling</a>
                                                            </div>
                                                            <h3 class="panel-title">Siblings</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div id="log_sibling"></div>
                                                            <table id="child_siblings" class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="20%">ID</th>
                                                                        <th width="40%">Names</th>
                                                                        <th>Sex</th>
                                                                        <th width="30%">DOB</th>
                                                                    </tr>
                                                                </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>    
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <!-- end wizard step-4 -->
                                    <!-- begin wizard step-5 -->
                                    <div class="wizard-step-5">
                                        <fieldset>
                                            <legend class="pull-left width-full">Parent Organisation Units details<small><span id="add_org_info"></span></small></legend>
                                            <!-- begin row -->
                                            <div class="row"  id="parent_org_add">
                                                <span class="form-group"></span>
                                                <div id="log_unit"></div>
                                                <div id="org_unit_id_div" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="org_unit_id">Organizational Unit <span class="asteriskField">*</span> :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.org_unit_id  }}
                                                    </div>
                                                </div>
                                                <div id="org_unit_id_parent" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="unit_parent">Primary Parent Organizational Unit <span class="asteriskField">*</span> :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.unit_parent }}
                                                    </div>
                                                </div>
                                                <div id="org_unit_id_parent" class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Registration assistant for this Organizational Unit <span class="asteriskField">*</span> :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.unit_reg_assistant }}
                                                    </div>
                                                </div>
                                                <div id="org_unit_id_add" class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="org_unit_primary"></label>
                                                    <div class="col-md-8 col-sm-8">
                                                        {{ form.org_unit_primary }}
                                                        <button type="button" class="btn btn-success" id="add_org_unit"><i class="fa fa-plus"></i> Organisation Unit</button> 
                                                    </div>
                                                </div>
                                                <table id="org_units" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Org Unit ID</th>
                                                            <th>Org Unit</th>
                                                            <th>Primary parent Org unit</th>
                                                            <th>Registration assistant for Unit</th>
                                                            <th>Remove</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                                <label for="orgs_selected">Attached Units</label>
                                                <div id="selected_orgs_div">{{ form.orgs_selected }}</div>
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <!-- end wizard step-5 -->
                                </div>

                            <!--- End Wizard Block -->
                            <div class="row" id="audit_detail_div">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="audit_workforce">Workforce member recorded on paper :<span class="asteriskField">*</span></label>
                                        {{ form.audit_workforce }}
                                        {{ form.workforce_id }}
                                    </div>
                                </div>
                                <!-- begin col-6 -->
                                <div class="col-md-6">
                                    <div class="form-group col-md-6">
                                        <label for="audit_date">Date paper form filled :<span class="asteriskField">*</span></label>
                                        {{ form.audit_date }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" class="btn btn-primary" value="submit" id="s1">Submit</button>
                                    <button type="submit" class="btn btn-primary" value="proceed" id="s2">Proceed</button>
                                    <a href="{% url 'search_persons' %}">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </div>
                            <div id="caregiver_new"></div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        <div class="modal fade" id="modal-sibling">
            <div class="modal-dialog">
                <div class="modal-content form-horizontal form-bordered">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Add Sibling</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                <div id="log_cg"></div>
                                    <div id="caregiver_id_adult" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="caregiver_id">CPIMS registered child:</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.is_cpims_sibling }}
                                        </div>
                                    </div>
                                    <div id="sibling_search_div" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="caregiver_id">Search Child:</label>
                                        <div class="col-md-8 col-sm-8">
                                            {{ form.sibling_id }}
                                            <div id="my-siblings"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label>First Name <span class="asteriskField">*</span></label>
                                            {{ form.sibling_firstname }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Surname <span class="asteriskField">*</span></label>
                                            {{ form.sibling_surname }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Other Name(s)</label>
                                            {{ form.sibling_othernames }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label>Date of Birth :</label>
                                            {{ form.sibling_dob }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Sex <span class="asteriskField">*</span>:</label>
                                            {{ form.sibling_gender }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Class <span class="asteriskField">*</span>:</label>
                                            {{ form.sibling_class }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="sibling_remark">Remarks :</label>
                                    <div class="col-md-8 col-sm-8">
                                        {{ form.sibling_remark }}
                                        {{ form.sibling_cpims_id }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="proc_sibling"><i class="fa fa-plus"></i> Proceed</button>
                        <button type="button" class="btn btn-success" id="add_sibling"><i class="fa fa-plus"></i> Sibling</button>
                            <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <div class="modal fade" id="modal-caregiver">
            <div class="modal-dialog">
                <div class="modal-content form-horizontal form-bordered">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Attach a caregiver</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div id="log"></div>
                                    <div id="caregiver_cpims" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="caregiver_id">CPIMS registered caregiver:</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.is_cpims_caregiver }}
                                        </div>
                                    </div>
                                    <div id="caregiver_search_div" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="caregiver_id">Search Caregiver:</label>
                                        <div class="col-md-8 col-sm-8">
                                            {{ form.caregiver_id }}
                                            <div id="my-caregiver"></div>
                                        </div>
                                    </div>
                                    <div id="caregiver_id_adult" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="caregiver_id">No adult caregiver:</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.no_adult_caregiver }}
                                        </div>
                                    </div>
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label>First Name <span class="asteriskField">*</span></label>
                                            {{ form.caregiver_firstname }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Surname <span class="asteriskField">*</span></label>
                                            {{ form.caregiver_surname }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Other Name(s)</label>
                                            {{ form.caregiver_othernames }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group block1">
                                            <label>Date of Birth :</label>
                                            {{ form.caregiver_dob }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Sex <span class="asteriskField">*</span>:</label>
                                            {{ form.caregiver_gender }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Relationship with child <span class="asteriskField">*</span>:</label>
                                            {{ form.relationship_type_id }}
                                            {{ form.caregiver_cpims_id }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <div class="divider pull-left width-full"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="add_caregiver"><i class="fa fa-plus"></i> Caregiver</button>
                            <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        </form>
    </div>
</div>
<!-- end row -->
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script>
jQuery(document).ready(function() {
    //Hide these <divs> on page_load()
    //No need for check window load
    $("#org_unit_primary").val('');
    var person_type = $("#person_type").val();
    var person_text = $("#person_type option:selected").text();
    
    handle_persons(person_type, person_text);
    handle_titles(person_type);
    var country_id = $("#country_id").val();
    handle_country(country_id);

    //Handle cadres
    var title_type = $('#title_type').val();
    handle_cadres(title_type);

    $("#country_id").change(function(e) {
        var country_id = $("#country_id").val();
        handle_country(country_id);
    });

    $("#title_type").change(function(e) {
        var title_type = $("#title_type").val();
        handle_cadres(title_type);
    });

    FormWizardValidation.init();
    $('#working_in_subcounty').empty();
    $('#working_in_ward').empty();

    // autofill with today
    $('#audit_date').val('{{ todate }}');

    $('#org_unit_id, #working_in_subcounty, #working_in_county').multiselect({
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        disableIfEmpty: true,
        enableClickableOptGroups: true,
        buttonClass: 'btn btn-white'
    });
    $('#working_in_ward').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        disableIfEmpty: true,
        enableClickableOptGroups: true,
        buttonClass: 'btn btn-white'
    });
    // Default behaviour
    if ($('#id_is_cpims_sibling').is(":checked")){
        $('#sibling_search_div').show();
    }else{
        $('#sibling_search_div').hide();
    }
    // Default behaviour for caregivers
    if ($('#id_is_cpims_caregiver').is(":checked")){
        $('#caregiver_search_div').show();
    }else{
        $('#caregiver_search_div').hide();
    }
    // Rebuild this
    $('#org_unit_id').multiselect('rebuild');
    // Event for checking if CPIMS sibling
    $("#id_is_cpims_sibling").change(function() {
        if(this.checked) {
            $('#sibling_search_div').show();
        }else{
            $('#sibling_search_div').hide();
        }
    });
    // Event for checking if CPIMS caregiver
    $("#id_is_cpims_caregiver").change(function() {
        if(this.checked) {
            $('#caregiver_search_div').show();
        }else{
            $('#caregiver_search_div').hide();
        }
    });

    //Duplicates buttons
    $('#s2').hide();
    $('#proc_sibling').hide();

    $('#person_type').change(function() {
        var person_type = $("#person_type").val();
        var person_text = $("#person_type option:selected").text();
        handle_persons(person_type, person_text);
        handle_titles(person_type);
        $('#cadre_type').empty();
    });

    $('#living_in_subcounty, #living_in_ward, #living_in_county').multiselect({
            selectAllValue: 'multiselect-all',
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            maxHeight: 300,
            checked: false,
            deselectAll: true,
            buttonWidth: '100%',
            disableIfEmpty: true,
            enableClickableOptGroups: true,
            buttonClass: 'btn btn-white'
            });

    $('#add_caregiver').click(function() {
        //id_no_adult_caregiver
        var rel_type_id = $("#relationship_type_id").val();
        var rel_type = $("#relationship_type_id option:selected").text();
        var caregiver_cpims = $("#caregiver_cpims_id").val();
        var grid_cpims = $("#cc_"+caregiver_cpims+"_cpid").val();

        var c_fname = $("#id_caregiver_firstname").val();
        var c_sname = $("#id_caregiver_surname").val();
        var c_oname = $("#id_caregiver_othernames").val();
        var c_gender = $("#caregiver_gender_id").val();
        var c_dob = $("#caregiver_dob").val();
        var child_subcounty = $("#living_in_subcounty").val();

        if ($('#id_is_cpims_caregiver').is(":checked")){
            var is_cpims = 'Yes';
            var caregiver = $("#caregiver_id").val();
        }else{
            var is_cpims = 'No';
            var caregiver = c_fname + ' ' + c_sname;
        }

        if ($('#id_no_adult_caregiver').is(":checked")){
            var is_adult = 'No';
        }else{
            var is_adult = 'Yes';
        }
        $('#log').empty();
        $("#log").addClass( "alert alert-danger fade in" );
        if ((c_fname == '') || (c_sname == '')){
           $('#log').html('Please provide first name and surname.');
           return false;
        }
        if (is_cpims == 'Yes'){
            if ((caregiver_cpims == '') || (caregiver_cpims_id == '')){
               $('#log').html('Search for caregiver.');
               return false;
            }
        }else{
            $("#caregiver_cpims_id").val('0');
        }
        if (c_gender == ''){
           $('#log').html('Please select Sex');
           return false;
        }
        if (rel_type_id == ''){
           $('#log').html('Please select Relationship');
           return false;
        }
        if (child_subcounty == ''){
           $('#log').html('Please select living in sub county for the child first before attaching siblings.');
           return false;
        }
        if (typeof grid_cpims !== 'undefined'){
           $('#log').html('Caregiver already added.');
           clear_guardian();
           return false;
        }
       //var caregiver_cpims = $("#caregiver_cpims_id").val();
       var ccpims = '0';
       $("#log").removeClass( "alert alert-danger fade in" );

       chtml = '<input id="cc_'+ccpims+'_cpid" name="cc_'+ccpims+'_cpid" value="'+ccpims+'" type="hidden">';
       chtml += '<input id="cc_'+ccpims+'_ctype" name="cc_'+ccpims+'_ctype" value="'+rel_type_id+'" type="hidden">';
       chtml += '<input id="cc_'+ccpims+'_adult" name="cc_'+ccpims+'_adult" value="'+is_adult +'" type="hidden">';
       chtml += '<input id="cc_'+ccpims+'_gender" name="cc_'+ccpims+'_gender" value="'+ c_gender +'" type="hidden">';
       chtml += '<input id="cc_'+ccpims+'_dob" name="cc_'+ccpims+'_dob" value="'+ c_dob +'" type="hidden">';
       chtml += '<input id="cc_'+ccpims+'_fname" name="cc_'+ccpims+'_fname" value="'+ c_fname +'" type="hidden">';
       chtml += '<input id="cc_'+ccpims+'_sname" name="cc_'+ccpims+'_sname" value="'+ c_sname +'" type="hidden">';
       chtml += '<input id="cc_'+ccpims+'_oname" name="cc_'+ccpims+'_oname" value="'+ c_oname +'" type="hidden">';
       $('#caregiver_new').html(chtml);
       
       $.ajax({
           type: "POST",
           url: "{% url 'person_actions' %}",
           data: $("#new_person").serialize() + "&edit_type=6",
           success: function(data)
           {
               var caregiver_cpims = data.caregiver_id;
               $('#caregiver_new').empty();
               //$("#cc_0_cpid").val(cp_id);
               //$("#cc_0_did").html(cp_id);
               var cbtn = '<button id = "'+caregiver_cpims+'" type="button" class="btn btn-danger remove_cg"><i class="fa fa-trash-o"></i></button>';

               chtml = '<tr id="gd_tr_'+caregiver_cpims+'">';
               chtml += '<td><input id="cc_'+caregiver_cpims+'_cpid" name="cc_'+caregiver_cpims+
               '_cpid" value="'+caregiver_cpims+'" type="hidden">';
               chtml += '<span id="cc_'+caregiver_cpims+'_did">'+ caregiver_cpims +
               '</span></td><td>'+ caregiver +'</td>';
               chtml += '<td><input id="cc_'+caregiver_cpims+'_ctype" name="cc_'+caregiver_cpims+
               '_ctype" value="'+rel_type_id+'" type="hidden">'+ rel_type +'</td>';
               chtml += '<td><input id="cc_'+caregiver_cpims+'_adult" name="cc_'+caregiver_cpims+
               '_adult" value="'+is_adult +'" type="hidden">';
               chtml += '<input id="cc_'+caregiver_cpims+'_gender" name="cc_'+caregiver_cpims+
               '_gender" value="'+ c_gender +'" type="hidden">';
               chtml += '<input id="cc_'+caregiver_cpims+'_dob" name="cc_'+caregiver_cpims+
               '_dob" value="'+ c_dob +'" type="hidden">';
               chtml += '<input id="cc_'+caregiver_cpims+'_fname" name="cc_'+caregiver_cpims+
                '_fname" value="'+ c_fname +'" type="hidden">';
               chtml += '<input id="cc_'+caregiver_cpims+'_sname" name="cc_'+caregiver_cpims+
               '_sname" value="'+ c_sname +'" type="hidden">';
               chtml += '<input id="cc_'+caregiver_cpims+'_oname" name="cc_'+
                caregiver_cpims+'_oname" value="'+ c_oname +'" type="hidden">';
               chtml += is_adult +'</td><td>'+ cbtn +'</td></tr>';
               $('#caregivers tbody').append(chtml);
               $("#log_cgiver").addClass( "alert alert-success fade in" );
               $('#log_cgiver').html('Caregiver attached Successfully');
               // Set all fields to blank
               clear_guardian();
           },
            error: function(){
                $("#log_cgiver").addClass( "alert alert-danger fade in" );
                $('#log_cgiver').html("Error attaching caregiver")
            }
         });
       $('#modal-caregiver').modal('hide');
    });
    $('#add_sibling, #proc_sibling').click(function() {
        //id_no_adult_caregiver
        var clicked = $(this).attr('id');
        var sibling_fname = $("#id_sibling_firstname").val();
        var sibling_sname = $("#id_sibling_surname").val();
        var sibling_oname = $("#id_sibling_othernames").val();
        var gender_id = $("#sibling_gender_id").val();
        var gender = $("#sibling_gender_id option:selected").text();
        var sclass_id = $("#sibling_class_id").val();
        var sclass = $("#sibling_class_id option:selected").text();
        var remarks = $("#id_sibling_remark").val();
        var sibling_dob = $("#sibling_dob").val();
        var cpims_child_id = $("#sibling_cpims_id").val();
        var child_subcounty = $("#living_in_subcounty").val();
        //Will use names for validation
        var names = sibling_fname +' '+ sibling_sname +' '+ sibling_oname;
        var sibling_cpims = names.replace(/\W/g, '').toLowerCase();
        //var sibling_cpims = $("#sibling_cpims_id").val();
        var grid_sibling = $("#sb_"+ sibling_cpims +"_names").val();
        $("#log_cg").addClass( "alert alert-danger fade in" );

        if ($('#id_is_cpims_sibling').is(":checked")){
            var is_cpims = cpims_child_id;
        }else{
            var is_cpims = '-';
        }
        $('#log_cg').empty();
        if ((is_cpims == 'Yes') && (cpims_child_id == '')){
           $('#log_cg').html('Please use the search if child exists in CPIMS.');
           return false;
        }
        if ((sibling_fname == '') || (sibling_sname == '')){
           $('#log_cg').html('Please provide first name and surname.');
           return false;
        }
        if (gender_id == ''){
           $('#log_cg').html('Please select Sex.');
           return false;
        }
        if (child_subcounty == ''){
           $('#log_cg').html('Please select living in sub county for the child first before attaching siblings.');
           return false;
        }
        if (typeof grid_sibling !== 'undefined'){
           $('#log_cg').html('Sibling '+ names +' already added.');
           clear_siblings();
           return false;
        }
        // Check if this child is a duplicate
        $("#log_cg").removeClass( "alert alert-danger fade in" );
        var sibArray = new Array();
        sibArray[0] = sibling_cpims;
        sibArray[1] = cpims_child_id;
        sibArray[2] = is_cpims;
        sibArray[3] = names;
        sibArray[4] = gender_id;
        sibArray[5] = gender;
        sibArray[6] = sibling_dob;
        sibArray[7] = remarks;
        sibArray[8] = sclass_id;
        if (clicked == 'add_sibling'){
            $.ajax({
               type: "POST",
               url: "{% url 'person_actions' %}",
               data: $("#new_person").serialize() + "&edit_type=8",
               success: function(data)
               {
                   var status_id = data.status;
                   attach_sibling(status_id, sibArray);
               },
                error: function(){
                    $("#log_cg").addClass( "alert alert-danger fade in" );
                    $('#log_cg').html("Error checking if child is duplicate");
                }
             });
        }else{
            attach_sibling(0, sibArray);
        }

    });

    $('#add_org_unit').click(function() {
        $('#log_unit').empty();
        var org_unit_id = $("#org_unit_id").val();
        var check_primary = $("#org_unit_primary").val();
        var org_unit = $("#org_unit_id option:selected").text();
        var primary_unit = $('input[name=unit_parent]:checked', '#new_person').val();
        var reg_assistant = $('input[name=unit_reg_assistant]:checked', '#new_person').val();
        var org_unit_vals = org_unit.split(/ - (.+)?/);
        var org_unit_id_vis = org_unit_vals[0];
        var org_unit_name = org_unit_vals[1];
        var grid_oid = $("#ou_"+org_unit_id+"_oid").val();       
        var btn = '<button id = "'+org_unit_id+'" type="button" class="btn btn-danger remove_org"><i class="fa fa-trash-o"></i></button>';

        $("#log_unit").addClass( "alert alert-danger fade in" );
        if (org_unit_id == '') {
           $('#log_unit').html('Please select organisation unit.');
           return false;
        }       
        if (typeof primary_unit === 'undefined'){
           $('#log_unit').html('Please check if unit is primary');
           return false;
        }
        if (typeof reg_assistant === 'undefined'){
           $('#log_unit').html('Please person is registration assistant.');
           return false;
        }
        if (typeof grid_oid !== 'undefined'){
           $('#log_unit').html('Organizational unit already added.');
           return false;
        }
        if ((check_primary != '') && (primary_unit == 'AYES')) {
           $('#log_unit').html('Primary organisation unit is already set.');
           return false;
        }
        // For controlling Primary check
        if (primary_unit == 'AYES'){
            $("#org_unit_primary").val(org_unit_id);  
        }
        $("#log_unit").removeClass( "alert alert-danger fade in" );
        var pri_unt = (primary_unit == 'AYES' ? "Yes" : "No");
        var reg_ass = (reg_assistant == 'AYES' ? "Yes" : "No");
       $('#org_units tbody').append(
        '<tr id="unit_tr_'+ org_unit_id +'" unit_name="'+ org_unit_name +'"><td><input id="ou_'+org_unit_id+'_oid" name="ou_'+org_unit_id+'_oid" value="'+org_unit_id+'" type="hidden">'+ org_unit_id_vis +
        '</td><td>'+ org_unit_name +
        '</td><td><input id="ou_'+org_unit_id+'_pri" name="ou_'+org_unit_id+'_pri" value="'+primary_unit+'" type="hidden">'+ pri_unt +
        '</td><td><input id="ou_'+org_unit_id+'_reg" name="ou_'+org_unit_id+'_reg" value="'+reg_assistant+'" type="hidden">'+ reg_ass +
        '</td><td>'+ btn +
        '</td></tr>');
       var sel_orgs = $("#id_orgs_selected").val();
       if (sel_orgs != ''){
           var newText = sel_orgs.split(",");
        }else{
            var newText = [];
        }
       var newtxt = newText.push(org_unit_name);
       var conv = [];

        for(var i = 0; i < newtxt.length; ++i)
        {
            conv.push(newtxt[i]);
        }
       // var ftxt = conv.join();
       $("#id_orgs_selected").val(newText);
    });

    $("#org_units").delegate(".remove_org", "click", function() {
        var id = $(this).attr('id');
        var org_unit_name = $(this).attr('unit_name');
        var check_primary = $("#org_unit_primary").val();
        if (id == check_primary){
            $("#org_unit_primary").val('');   
        }
       $("#unit_tr_"+id+"").remove();
       // Remove some values from the display div
       var sel_orgs = $("#id_orgs_selected").val();
       if (sel_orgs != ''){
           var newText = sel_orgs.split(",");
        }else{
            var newText = [];
        }
       var newtxt = newText.pop(org_unit_name);
       var conv = [];

        for(var i = 0; i < newtxt.length; ++i)
        {
            conv.push(newtxt[i]);
        }
       // var ftxt = conv.join();
       $("#id_orgs_selected").val(newText);
    });

    $( "#caregiver_id" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "{% url 'registry' %}",
          dataType: "json",
          data: {q: request.term, id: 0},
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 4,
      select: function( event, ui ) {
        $('#log').empty();
        $('#caregiver_cpims_id').val(ui.item.id);
        $("#caregiver_gender_id").val(ui.item.gender);
        $("#caregiver_dob").val(ui.item.dob);
        $("#id_caregiver_firstname").val(ui.item.fname);
        $("#id_caregiver_surname").val(ui.item.sname);
        $("#id_caregiver_othernames").val(ui.item.onames);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    // To get workforce
    $( "#audit_workforce_id" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "{% url 'registry' %}",
          dataType: "json",
          data: {q: request.term, id: 3},
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 4,
      select: function( event, ui ) {
         $('#workforce_id').val(ui.item.id);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });


    // To get siblings
    $( "#cpims_child_id" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "{% url 'registry' %}",
          dataType: "json",
          data: {q: request.term, id: 1},
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 4,
      appendTo: "#my-siblings",
      select: function( event, ui ) {
        $('#log_cg').empty();
        $('#sibling_cpims_id').val(ui.item.id);
        $("#sibling_gender_id").val(ui.item.gender);
        $("#sibling_dob").val(ui.item.dob);
        $("#id_sibling_firstname").val(ui.item.fname);
        $("#id_sibling_surname").val(ui.item.sname);
        $("#id_sibling_othernames").val(ui.item.onames);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    // Cascading drop down for working in counties
    $("#working_in_county").change(function(e) {
        var county = $("#working_in_county").val();
        var sub_county = $("#working_in_subcounty").val();
        var csrftoken = $.cookie('csrftoken');
        var values = {'sub_county': sub_county, 'filter': 1,
                      'county': county, 'action': 2,
                      'csrfmiddlewaretoken': csrftoken };
        $('#working_in_subcounty').empty();
        $.ajax({
            type: "POST",
            data: values,
            dataType: "json",
            url: "{% url 'reg_lookup' %}",
            success: function(data){
                var wards = data.wards;
                //$('#working_in_ward').html("<option value=''>Please Select</option>");           
                $.each(wards, function(i, record) {
                    var ward_attribs = wards[i].split(",");
                    $('#working_in_subcounty')
                        .append($("<option></option>")
                        .attr("value", ward_attribs[0])
                        .text(ward_attribs[1]));
                 });
                $('#working_in_subcounty').multiselect('rebuild');
            },
            error: function(){
                $('#messages').html("Error")
            }
        });
    });

    // Cascading drop down for working in sub-county
    $("#working_in_subcounty").change(function(e) {
        var sub_county = $("#working_in_subcounty").val();
        var csrftoken = $.cookie('csrftoken');
        var values = {'sub_county': sub_county,
                      'county': 0, 'action': 1, 'filter': 1,
                      'csrfmiddlewaretoken': csrftoken };
        $('#working_in_ward').empty();
        $.ajax({
            type: "POST",
            data: values,
            dataType: "json",
            url: "{% url 'reg_lookup' %}",
            success: function(data){
                var wards = data.wards;
                //$('#working_in_ward').html("<option value=''>Please Select</option>");           
                $.each(wards, function(i, record) {
                    var ward_attribs = wards[i].split(",");
                    $('#working_in_ward')
                        .append($("<option></option>")
                        .attr("value", ward_attribs[0])
                        .text(ward_attribs[1]));
                 });
                 $('#working_in_ward').multiselect('rebuild');
            },
            error: function(){
                $('#messages').html("Error")
            }
        });
    });

    // Cascading drop down for living in counties
    $("#living_in_county").change(function(e) {
        var county = $("#living_in_county").val();
        var sub_county = $("#living_in_subcounty").val();
        var csrftoken = $.cookie('csrftoken');
        var values = {'sub_county': sub_county,
                      'county': county, 'action': 6,
                      'csrfmiddlewaretoken': csrftoken };
        $('#living_in_subcounty').empty();
        $.ajax({
            type: "POST",
            data: values,
            dataType: "json",
            url: "{% url 'reg_lookup' %}",
            success: function(data){
                var wards = data.wards;
                $('#living_in_subcounty').html("<option value=''>Please Select</option>");           
                $.each(wards, function(i, record) {
                    var ward_attribs = wards[i].split(",");
                    $('#living_in_subcounty')
                        .append($("<option></option>")
                        .attr("value", ward_attribs[0])
                        .text(ward_attribs[1]));
                 });
                 $('#living_in_subcounty').multiselect('rebuild');
            },
            error: function(){
                $('#messages').html("Error")
            }
        });
    });

    // Cascading drop down
    $("#living_in_subcounty").change(function(e) {
        var sub_county = $("#living_in_subcounty").val();
        var csrftoken = $.cookie('csrftoken');
        var values = {'sub_county': sub_county,
                      'county': 0, 'action': 4,
                      'csrfmiddlewaretoken': csrftoken };
        $('#living_in_ward').empty();
        $.ajax({
            type: "POST",
            data: values,
            dataType: "json",
            url: "{% url 'reg_lookup' %}",
            success: function(data){
                var wards = data.wards;
                $('#living_in_ward').html("<option value=''>Please Select</option>");           
                $.each(wards, function(i, record) {
                    var ward_attribs = wards[i].split(",");
                    $('#living_in_ward')
                        .append($("<option></option>")
                        .attr("value", ward_attribs[0])
                        .text(ward_attribs[1]));
                 });
                 $('#living_in_ward').multiselect('rebuild');
            },
            error: function(){
                $('#messages').html("Error")
            }
        });
    });

});

function clear_siblings(){
   $("#id_sibling_firstname").val('');
   $("#id_sibling_surname").val('');
   $("#id_sibling_othernames").val('');
   $("#sibling_gender_id").val('');
   $("#sibling_class_id").val('');
   $("#id_sibling_remark").val('');
   $("#sibling_dob").val('');
   $("#sibling_cpims_id").val('');
   $("#cpims_child_id").val('');
   $('#id_is_cpims_sibling').attr('checked', false);
   $('#sibling_search_div').hide();
   //Reset the add/proceed buttons
   $('#proc_sibling').hide();
   $('#add_sibling').show();
}

function clear_guardian(){
   $("#relationship_type_id").val('');
   $("#caregiver_cpims_id").val('');
   $("#id_caregiver_firstname").val('');
   $("#id_caregiver_surname").val('');
   $("#id_caregiver_othernames").val('');
   $("#caregiver_gender_id").val('');
   $("#caregiver_dob").val('');
   $('#caregiver_search_div').hide();
   $('#id_is_cpims_caregiver').attr('checked', false);
   $('#caregiver_search_div').hide(); 
}

function attach_sibling(status_id, sibArray){
    if (status_id == 0){
        $('#proc_sibling').hide();
        $('#add_sibling').show();
        $('#log_cg').empty();
        // Need to populate my grid here
        sib_ims = sibArray[0];
        cpims_child_id = sibArray[1];
        is_cpims = sibArray[2];
        names = sibArray[3];
        gender_id = sibArray[4];
        gender = sibArray[5];
        sibling_dob = sibArray[6];
        remarks = sibArray[7];
        sclass_id = sibArray[8];
        var sib_names = names.replace(/\s+/g, '|').toLowerCase();
        $('#child_siblings tbody').append(
              '<tr><td><input id="sb_'+sib_ims+'_sbid" name="sb_'+sib_ims+'_sbid" value="'+cpims_child_id+
              '" type="hidden">'+ is_cpims +
              '</td><input id="sb_'+sib_ims+'_names" name="sb_'+sib_ims+'_names" value="'+sib_names+
              '" type="hidden"><td>'+ names +
              '</td><td><input id="sb_'+sib_ims+'_sex" name="sb_'+sib_ims+'_sex" value="'+gender_id+
              '" type="hidden">'+ gender +
              '</td><td><input id="sb_'+sib_ims+'_dob" name="sb_'+sib_ims+'_dob" value="'+sibling_dob+
              '" type="hidden">'+ sibling_dob +
              '<input id="sb_'+sib_ims+'_rmk" name="sb_'+sib_ims+'_rmk" value="'+remarks+
              '" type="hidden"><input id="sb_'+sib_ims+'_slevel" name="sb_'+sib_ims+'_slevel" value="'+sclass_id+
            '" type="hidden"></td></tr>');
        clear_siblings();
        $('#modal-sibling').modal('hide');
    }else{
        $('#proc_sibling').show();
        $('#add_sibling').hide();
        $("#log_cg").addClass( "alert alert-danger fade in" );
        $('#log_cg').html('Child is a possible duplicate ('+status_id+'). Proceed if OK.');
    }
}


function handle_persons(person_type, person_text){
    var person_type = (typeof person_type === 'undefined') ? 'default' : person_type;
    //Child
    if (person_type == 'TBVC')
    {
        handle_child();
    }

    //Caregiver
    else if (person_type == 'TBGR')
    {
        handle_caregiver(person_text);
    }

    //Volunteer
    else if (person_type == 'TWVL')
    {
         handle_volunteer(person_text);
    }

    //Government Employee
    else if (person_type == 'TWGE')
    {
        handle_government(person_text); 
    }

    //NGO/private sector employee
    else if (person_type == 'TWNE')
    {
        handle_ngo_private(person_text);
    }

    //Default page
    else
    {
        handle_default();
    }
}

function handle_default(){
    $('#national_id_div').hide();
    $('#national_id').attr('data-parsley-required', 'false');

    $('#staff_id_div').hide();
    $('#staff_id').attr('data-parsley-required', 'false');

    $('#birth_reg_id_div').hide();
    $('#given_name_div').hide();
    $('#birth_reg_id').attr('data-parsley-required', 'false');

    $('#caregiver_add').hide();
    $('#caregiver_id').attr('data-parsley-required', 'false');
    $('#relationship_type_id').attr('data-parsley-required', 'false');
    $('#caregiver_info').empty();

    $('#cadre_type_div').hide(); 
    $('#cadre_type').attr('data-parsley-required', 'false');
    $('#title_type_div').hide(); 
    $('#title_type').attr('data-parsley-required', 'false');
    $('#id_orgs_selected').attr('data-parsley-required', 'false');

    $('#provides_service').show();
    $('#child_services_0').attr('data-parsley-required', 'true');
    $('#child_services_1').attr('data-parsley-required', 'true');
    $('#child_service').attr('data-parsley-required', 'true');

    $('#working_in_region_div').show();
    $('.working_region').attr('data-parsley-required', 'true');
    $('#working_in_div').show();
    $('#working_in_subcounty').attr('data-parsley-required', 'true');
    $('#living_in_div').hide();
    $('#living_in_subcounty').attr('data-parsley-required', 'false');

    $('#is_caregiver_div').show();
    $('#date_of_birth').datepicker("remove");
    $('#date_of_birth').datepicker({ endDate: '-18y', format: 'dd-M-yyyy' });
    $('#date_of_birth').val('');
    $('#date_warning').hide();

    $('#audit_detail_div').show();
    $('#audit_workforce_id').attr('data-parsley-required', 'true');
    $('#audit_date').attr('data-parsley-required', 'true');
    
    $('#parent_org_add').show();
    $('#add_org_info').empty();
    $('#org_unit_id').attr('data-parsley-required', 'true');

    $('#tribe_id_div').hide();
    $('#religion_id_div').hide();
    $('#nation_id_div').hide();
    $('#des_phone_number').attr('data-parsley-required', 'false');

}

function handle_child(){
    $('#national_id_div').hide();
    $('#national_id').attr('data-parsley-required', 'false');

    $('#staff_id_div').hide();
    $('#staff_id').attr('data-parsley-required', 'false');

    $('#birth_reg_id_div').show();
    $('#given_name_div').show();
    $('#birth_reg_id').attr('data-parsley-required', 'false');

    $('#caregiver_add').show();
    $('#caregiver_id').attr('data-parsley-required', 'true');
    $('#relationship_type_id').attr('data-parsley-required', 'true');
    $('#caregiver_info').empty();

    $('#cadre_type_div').hide(); 
    $('#cadre_type').attr('data-parsley-required', 'false');
    $('#title_type_div').hide(); 
    $('#title_type').attr('data-parsley-required', 'false');
    $('#id_orgs_selected').attr('data-parsley-required', 'false');

    $('#provides_service').hide(); 
    $('#child_services_0').attr('data-parsley-required', 'false');
    $('#child_services_1').attr('data-parsley-required', 'false');

    $('#working_in_region_div').hide();
    $('.working_region').attr('data-parsley-required', 'false');
    $('#working_in_div').hide();
    $('#working_in_subcounty').attr('data-parsley-required', 'false');
    $('#living_in_div').show();
    $('#living_in_subcounty').attr('data-parsley-required', 'true');

    $('#is_caregiver_div').show();
    $('#date_of_birth').datepicker("remove");
    $('#date_of_birth').datepicker({ startDate: "-21y",
                                     endDate: '+0d', 
                                     format: 'dd-M-yyyy' });
    $('#date_of_birth').val('');

    $('#audit_detail_div').show();
    $('#audit_workforce_id').attr('data-parsley-required', 'true');
    $('#audit_date').attr('data-parsley-required', 'true');
    $('#parent_org_add').hide();
    $('#add_org_info').html(' - Not required');
    $('#org_unit_id').attr('data-parsley-required', 'false');

    $('#tribe_id_div').show();
    $('#religion_id_div').show();
    $('#nation_id_div').show();    
    $('#des_phone_number').attr('data-parsley-required', 'false');

    $('#date_of_birth').datepicker().on('changeDate', function (ev) {
        var mdate = $('#date_of_birth').val();
        var currentDate = new Date();
        var selectedDate = new Date(ev.date.toString());
        var age = currentDate.getFullYear() - selectedDate.getFullYear();
        if (age > 18){
            var msg = '<label>Warning</label><p>Child is above 18 ( ' + age + ' years).</p>'
            $('#date_warning').show();
            $('#date_warning').html(msg);
            $("#date_warning").addClass( "alert alert-danger fade in" );
         }else{
            $('#date_warning').hide();
            $('#date_warning').html('');
            $("#date_warning").removeClass( "alert alert-danger fade in" );
         }
    });
}

function handle_caregiver(person_text){
    $('#national_id_div').show();
    $('#national_id').attr('data-parsley-required', 'true');

    $('#staff_id_div').hide();
    $('#staff_id').attr('data-parsley-required', 'false');

    $('#birth_reg_id_div').hide();
    $('#given_name_div').hide();
    $('#birth_reg_id').attr('data-parsley-required', 'false');

    $('#caregiver_add').hide();
    $('#caregiver_id').attr('data-parsley-required', 'false');
    $('#relationship_type_id').attr('data-parsley-required', 'false');
    $('#caregiver_info').html('- Not required for ' + person_text);

    $('#cadre_type_div').hide(); 
    $('#cadre_type').attr('data-parsley-required', 'false');
    $('#title_type_div').hide(); 
    $('#title_type').attr('data-parsley-required', 'false');
    $('#id_orgs_selected').attr('data-parsley-required', 'false');

    $('#provides_service').hide(); 
    $('#child_services_0').attr('data-parsley-required', 'false');
    $('#child_services_1').attr('data-parsley-required', 'false');
    $('#child_service').attr('data-parsley-required', 'true');

    $('#working_in_region_div').hide();
    $('.working_region').attr('data-parsley-required', 'false');
    $('#working_in_div').hide();
    $('#working_in_subcounty').attr('data-parsley-required', 'false');
    $('#living_in_div').show();
    $('#living_in_subcounty').attr('data-parsley-required', 'true');

    $('#is_caregiver_div').hide();
    $('#id_is_caregiver').attr('checked', false);
    $('#date_of_birth').datepicker("remove");
    $('#date_of_birth').datepicker({ endDate: '-18y', format: 'dd-M-yyyy' });
    $('#date_of_birth').val('');
    $('#date_warning').hide();

    $('#audit_detail_div').show();
    $('#audit_workforce_id').attr('data-parsley-required', 'true');
    $('#audit_date').attr('data-parsley-required', 'true');
    $('#parent_org_add').hide();
    $('#add_org_info').html(' - Not required');
    $('#org_unit_id').attr('data-parsley-required', 'false');

    $('#tribe_id_div').hide();
    $('#religion_id_div').hide();
    $('#nation_id_div').hide();
    $('#des_phone_number').attr('data-parsley-required', 'false');
}

function handle_volunteer(person_text){
    $('#national_id_div').show();
    $('#national_id').attr('data-parsley-required', 'true');

    $('#staff_id_div').show();
    $('#staff_id').attr('data-parsley-required', 'false');

    $('#birth_reg_id_div').hide();
    $('#given_name_div').hide(); 
    $('#birth_reg_id').attr('data-parsley-required', 'false');

    $('#caregiver_add').hide();
    $('#caregiver_id').attr('data-parsley-required', 'false');
    $('#relationship_type_id').attr('data-parsley-required', 'false');
    $('#caregiver_info').html('- Not required for ' + person_text);

    $('#cadre_type_div').hide(); 
    $('#cadre_type').attr('data-parsley-required', 'false');
    $('#title_type_div').hide(); 
    $('#title_type').attr('data-parsley-required', 'false');
    $('#id_orgs_selected').attr('data-parsley-required', 'true');

    $('#provides_service').show();
    $('#child_services_0').attr('data-parsley-required', 'true');
    $('#child_services_1').attr('data-parsley-required', 'true');
    $('#child_service').attr('data-parsley-required', 'true');

    $('#working_in_region_div').show();
    $('.working_region').attr('data-parsley-required', 'true');
    $('#working_in_div').show();
    $('#working_in_subcounty').attr('data-parsley-required', 'true');
    $('#living_in_div').hide();
    $('#living_in_subcounty').attr('data-parsley-required', 'false');

    $('#is_caregiver_div').show();
    $('#date_of_birth').datepicker("remove");
    $('#date_of_birth').datepicker({ endDate: '-18y', format: 'dd-M-yyyy' });
    $('#date_of_birth').val('01-Jan-1900');
    $('#date_warning').hide();

    $('#audit_detail_div').hide();
    $('#audit_workforce_id').attr('data-parsley-required', 'false');
    $('#audit_date').attr('data-parsley-required', 'false');
    $('#parent_org_add').show();
    $('#add_org_info').empty();
    $('#org_unit_id').attr('data-parsley-required', 'true');

    $('#tribe_id_div').hide();
    $('#religion_id_div').hide();
    $('#nation_id_div').hide();
    $('#des_phone_number').attr('data-parsley-required', 'true');
}

function handle_government(person_text){
    $('#national_id_div').show();
    $('#national_id').attr('data-parsley-required', 'true');

    $('#staff_id_div').show();
    $('#staff_id').attr('data-parsley-required', 'true');

    $('#birth_reg_id_div').hide();
    $('#given_name_div').hide();
    $('#birth_reg_id').attr('data-parsley-required', 'false');

    $('#caregiver_add').hide();
    $('#caregiver_id').attr('data-parsley-required', 'false');
    $('#relationship_type_id').attr('data-parsley-required', 'false');
    $('#caregiver_info').html('- Not required for ' + person_text);

    $('#cadre_type_div').show(); 
    $('#cadre_type').attr('data-parsley-required', 'true');
    $('#title_type_div').show(); 
    $('#title_type').attr('data-parsley-required', 'true');
    $('#id_orgs_selected').attr('data-parsley-required', 'true');

    $('#provides_service').show();
    $('#child_services_0').attr('data-parsley-required', 'true');
    $('#child_services_1').attr('data-parsley-required', 'true');
    $('#child_service').attr('data-parsley-required', 'true');

    $('#working_in_region_div').show();
    $('.working_region').attr('data-parsley-required', 'true');
    $('#working_in_div').show();
    $('#working_in_subcounty').attr('data-parsley-required', 'true');
    $('#living_in_div').hide();
    $('#living_in_subcounty').attr('data-parsley-required', 'false');

    $('#is_caregiver_div').show();
    $('#dob_div').hide();
    $('#date_of_birth').datepicker("remove");
    $('#date_of_birth').datepicker({ endDate: '-18y', format: 'dd-M-yyyy' });
    $('#date_of_birth').attr('data-parsley-required', 'false');
    $('#date_of_birth').val('01-Jan-1900');
    $('#date_warning').hide();

    $('#audit_detail_div').hide();
    $('#audit_workforce_id').attr('data-parsley-required', 'false');
    $('#audit_date').attr('data-parsley-required', 'false');
    $('#parent_org_add').show();
    $('#add_org_info').empty();
    $('#org_unit_id').attr('data-parsley-required', 'true');

    $('#tribe_id_div').hide();
    $('#religion_id_div').hide();
    $('#nation_id_div').hide();
    $('#des_phone_number').attr('data-parsley-required', 'true');
}

function handle_ngo_private(person_text){
    $('#national_id_div').show();
    $('#national_id').attr('data-parsley-required', 'true');

    $('#staff_id_div').show();
    $('#staff_id').attr('data-parsley-required', 'false');

    $('#birth_reg_id_div').hide(); 
    $('#given_name_div').hide();
    $('#birth_reg_id').attr('data-parsley-required', 'false');

    $('#caregiver_add').hide();
    $('#caregiver_id').attr('data-parsley-required', 'false');
    $('#relationship_type_id').attr('data-parsley-required', 'false');
    $('#caregiver_info').html('- Not required for ' + person_text);

    $('#cadre_type_div').show(); 
    $('#cadre_type').attr('data-parsley-required', 'true');
    $('#title_type_div').show(); 
    $('#title_type').attr('data-parsley-required', 'true');
    $('#id_orgs_selected').attr('data-parsley-required', 'true');

    $('#provides_service').show();
    $('#child_services_0').attr('data-parsley-required', 'true');
    $('#child_services_1').attr('data-parsley-required', 'true');
    $('#child_service').attr('data-parsley-required', 'true');

    $('#working_in_region_div').show();
    $('.working_region').attr('data-parsley-required', 'true');
    $('#working_in_div').show();
    $('#working_in_subcounty').attr('data-parsley-required', 'true');
    $('#living_in_div').hide();
    $('#living_in_subcounty').attr('data-parsley-required', 'false');

    $('#is_caregiver_div').show();
    $('#dob_div').hide();
    $('#date_of_birth').datepicker("remove");
    $('#date_of_birth').datepicker({ endDate: '-18y', format: 'dd-M-yyyy' });
    $('#date_of_birth').attr('data-parsley-required', 'false');
    $('#date_of_birth').val('01-Jan-1900');
    $('#date_warning').hide();

    $('#audit_detail_div').hide();
    $('#audit_workforce_id').attr('data-parsley-required', 'false');
    $('#audit_date').attr('data-parsley-required', 'false');
    $('#parent_org_add').show();
    $('#add_org_info').empty();
    $('#org_unit_id').attr('data-parsley-required', 'true');

    $('#tribe_id_div').hide();
    $('#religion_id_div').hide();
    $('#nation_id_div').hide();
    $('#des_phone_number').attr('data-parsley-required', 'true');
}

{% for key, values in titles.items %}
    var {{ key }} = {{ values|safe }};
{% endfor %}

function handle_country(country_id){
    var person_type = $("#person_type").val();
    if ((country_id == 'KE') && (person_type == 'TBVC')){
        $('#tribe_id_div').show();
    }else{
        $('#tribe_id_div').hide();
    }
}

function handle_titles(person_type){
    var default_txt = "<option value=''>Select title</option>";
    if (person_type != ''){
        var person_txt = ((eval(person_type)).length == 1) ? '' : default_txt;
    }else{
        var person_txt = "<option value=''>Select title</option>";
    }
    $('#title_type').html(person_txt);
    if (person_type != ''){
        eval(person_type).forEach(function(tts) {
            var tts_attribs = tts.split(",");
            $('#title_type')
                .append($("<option></option>")
                .attr("value", tts_attribs[0])
                .text(tts_attribs[1]));
        });
    }else{
         $('#title_type').append('<option></option>'); 
    }
}

function handle_cadres(title_type){
    var person_type = $("#person_type").val();
    var default_txt = "<option value=''>Select cadre</option>";
    if (person_type == 'TWGE'){
        if (title_type != ''){
            var cadre_txt = ((eval(title_type)).length == 1) ? '' : default_txt;
        }else{
            var cadre_txt = "<option value=''>Select cadre</option>";
        }
        $('#cadre_type').html(cadre_txt);   
    }else{
        $('#cadre_type').empty();
    }
    if (title_type != ''){
        eval(title_type).forEach(function(ttp) {
            var ttp_attribs = ttp.split(",");
            $('#cadre_type')
                .append($("<option></option>")
                .attr("value", ttp_attribs[0])
                .text(ttp_attribs[1]));
        });
    }else{
         $('#cadre_type').append('<option></option>'); 
    }
}

function displayVals(area_value) {
      var area_name = [];
      area_value = (typeof area_value === 'undefined') ? 'working_in_county' : area_value;
      $("#"+area_value+" option:selected").each(function () {
           var $this = $(this);
           if ($this.length) {
            var selText = $this.text();
            area_name.push(selText);
           }
        });

      $( "#sel_"+area_value ).html(area_name.join( ", " ) );
}
$("#working_in_county").change(function(event) { 
    displayVals();
});
$("#working_in_subcounty").change(function(event) { 
    displayVals("working_in_subcounty");
});
$("#working_in_ward").change(function(event) { 
    displayVals("working_in_ward");
});
displayVals();
displayVals("working_in_subcounty");
displayVals("working_in_ward");

window.Parsley.on('form:validate', function() {
   $('.validation-errors').html('');
});


window.Parsley.on('field:error', function(fieldInstance) {
  // Get the error messages
    var messages = ParsleyUI.getErrorsMessages(fieldInstance);

    // Get the field's name
    var fieldName = fieldInstance.$element.attr('name');
    //var fieldLabel = fieldInstance.$element.attr('label');
    //'+ fieldInstance.$element.attr('name') +'
    var fieldLabel = $('label[for="'+ fieldName +'"]').text();

    // Loop through all the messages
    var fmsg = '';
    for (var i in messages) {
        // Create a message for each error
        var message = (fieldLabel + ': ' + messages[i]).replace('*', '');
        //var msg = $('<p><a class="focus-' + fieldName + '" href="#">' + message + '</a><p>');
        var msg = $('<p><a class="focus-' + fieldName + '" href="#">' + message + '</a><p>');

        // Append the errors to the div
        fmsg += fieldLabel.replace('*', '') + ' - '+ messages[i] +'; ';
        if (fieldLabel != ''){
            //$('.validation-errors').append(', ' + fieldLabel);
            fmsgs = fieldLabel.replace('*', '') + ' - '+ messages[i] +'; ';
        }   
    }
    if (fmsg != ''){
       $('.validation-errors').append(fmsg.replace(':', ''));
       $('#messages').show();  
    }else{
        $('#messages').hide();
    }     
});

function person_dup_check(status_id, form){
    if (status_id == 0){
        $('#messages').show();
        form.submit();     
   }else{
       $('#s1').hide();
       $('#s2').show();
       $('#invalid-form-message').html('Child is a possible duplicate ('+status_id+'). Proceed if OK.');
       $('#messages').show();
   }
}

$(".working_region").click(function(e) {
    var region_id = $('input[name=working_in_region]:checked', '#new_person').val();
    check_region(region_id);
});

function check_region(region_id){
    if (region_id == '0'){
        $('#county_div').hide();
        $('#working_in_county').attr('data-parsley-required', 'false');
        $('#subcounty_div').hide();
        $('#working_in_subcounty').attr('data-parsley-required', 'false');
        $('#ward_div').hide();
        $('#working_in_ward').attr('data-parsley-required', 'false');
    }else if (region_id == '1'){
        $('#county_div').show();
        $('#working_in_county').attr('data-parsley-required', 'true');
        $('#subcounty_div').hide();
        $('#working_in_subcounty').attr('data-parsley-required', 'false');
        $('#ward_div').hide();
        $('#working_in_ward').attr('data-parsley-required', 'false');
        //$('#working_in_subcounty').multiselect('rebuild');
    }else{
        $('#county_div').show();
        $('#working_in_county').attr('data-parsley-required', 'true');
        $('#subcounty_div').show();
        $('#working_in_subcounty').attr('data-parsley-required', 'true');
        $('#ward_div').show();
        $('#working_in_ward').attr('data-parsley-required', 'false');
        //$('#sub_county').multiselect('rebuild');
    }
}
</script>
{% endblock lazy_javascript_code %}