{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} Permissions and Roles {% endblock %}

{% load app_filters %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Roles</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Registry <small> Manage Roles</small></h1>
<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<!-- begin row -->
<div class="row">
<!-- Start content area -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
        <h4 class="panel-title">CPIMS Permissions and Roles {{ page }}</h4>
    </div>
    <div class="panel-body">
        
        <div class="alert alert-danger fade in m-b-15">
            <strong>Warning! </strong>
            You do NOT have permissions to access this page.
            <span class="close" data-dismiss="alert">&times;</span>
        </div>

        <p> This could be due to any of these reasons</p>
        <ul>
            <li>This record is from a region you do not have jurisdiction to.</li>
            <li>Your access rights allows you only to view this record.</li>
            <li>You did not create this record.</li>
        </ul>
        <p> To resolve this please contact your data supervisor or your regional manager.</p>
    </div>
</div>
<!-- End content area -->

</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}

{% endblock %}
