{% extends 'base.html' %}
{% block page_title %} {{block.super}}Reports{% endblock page_title%}

{% load staticfiles %}

{% block primary%}
<h1 class="page-header">Reports <small>Document templates</small></h1>

{% if messages %}
<div id="messages" class="alert alert-danger fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.error %} class="{{ message.danger }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>                        
                <h4 class="panel-title">Report / document details</h4>
            </div>
            <div class="panel-body">
				<form id="reports" class="form-horizontal form-bordered" action="{% url 'reports' %}" method="POST" data-parsley-validate="true">
                   {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Organisation Unit :</label>
                        <div class="col-md-6 col-sm-6">
                            {{ form.org_unit }}
                        </div>
                        <a href="#" data-toggle="tooltip" title="Select at least one sub-county."><i class="fa fa-info-circle fa-lg"></i></a>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Report / document type :</label>
                        <div class="col-md-6 col-sm-6">
	                        {{ form.document_type }}
                        </div>
                        <a href="#" data-toggle="tooltip" title="Select report type."><i class="fa fa-info-circle fa-lg"></i></a>
					</div>
					<div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Child :</label>
                        <div class="col-md-6 col-sm-6">
	                        {{ form.child }} {{ form.cpims_child }}
	                        <div id="case_details"></div>
                        </div>
                        <a href="#" data-toggle="tooltip" title="Start typing name of child."><i class="fa fa-info-circle fa-lg"></i></a>
					</div>
					<div class="form-group" id="case_more">
                        <label class="control-label col-md-4 col-sm-4">Case details : </label>
                        <div class="col-md-6 col-sm-6" id="case_data">
                        </div>
					</div>
				
                    <div class="panel-body panel-form" id="case_proceed">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-check-square-o"></i> Generate</button>
                            </div>
                        </div>
                    </div>
				</form>
			</div>
        </div>
        <!-- end panel -->
        <div id="report_results"></div>
	    {% if results|length %}
	    	<div class="table-responsive">
				<button type="button" class="btn btn-info m-r-5 m-b-5"> <i class="fa fa-folder-open-o"></i> Preview</button>
				<a href="{% url 'download_reports' file_name=file_name %}.xls">
					<button type="button" class="btn btn-success m-r-5 m-b-5">
					<i class="fa fa-file-excel-o"></i> Excel</button>
				</a>
				<a href="{% url 'download_reports' file_name=file_name %}.pdf">
					<button type="button" class="btn btn-danger m-r-5 m-b-5"> 
					<i class="fa fa-file-pdf-o"></i> PDF</button>
				</a>
				<a href="{% url 'download_reports' file_name=file_name %}.csv">
					<button type="button" class="btn btn-warning m-r-5 m-b-5">
					<i class="fa fa-file-text-o"></i> CSV</button>
				</a>
	        </div>
	    {% endif %}
    </div>
    <!-- end col-12 -->       
</div>
<!-- end row -->

{% endblock primary%}

{% block lazy_javascript_code %}
<script>
jQuery(document).ready(function() {
    $('#reports').on('submit', function(event){
	    event.preventDefault();
	    var report_id = $('#id_document_type').val();
	    var report_name = $('#id_document_type option:selected').text();
	    var org_unit = $('#id_org_unit').val();
	    var child_id = $('#cpims_child_id').val();
	    var csrftoken = $.cookie('csrftoken');
        var values = {'id' : report_id, 'name': report_name,
                      'org_unit': org_unit,
                      'child_id': child_id,
                      'csrfmiddlewaretoken': csrftoken };
        $('#report_results').html("Processing Report...");
	    $.ajax({
	        url : "{% url 'reports' %}",
	        type : "POST",
	        data : values,
	        // handle a successful response
	        success : function(json) {
	        	var file_name = json.file_name;
	        	var url = '<a href="{% url "download_reports" file_name="0000" %}.pdf">';
	        	var data = url.replace('0000', file_name);
				data += '<button type="button" class="btn btn-danger m-r-5 m-b-5">';
				data += '<i class="fa fa-file-pdf-o"></i> PDF</button></a>';
	            $('#report_results').html(data);
	            console.log(json);
	        },
	        // handle a non-successful response
	        error : function(xhr, errmsg, err) {
	            $('#report_results').html("Oops! We have encountered an error: " + errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
	    });

	});
	$('#child_id').val('');
	$('#cpims_child_id').val('');
	$('#case_more').hide();
	$('#case_proceed').hide();
	// To get Children
    $( "#child_id" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "{% url 'registry' %}",
          dataType: "json",
          data: {q: request.term, id: 1},
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 4,
      appendTo: "#case_details",
      select: function( event, ui ) {
      	$('#case_more').show();
	    $('#case_proceed').show();
	    var dt = '<input type="radio" name="case" value="1"> 0999/0009/2001 | 01-Mar-2015<br>';
	    $('#case_data').html(dt);
        // $('#log_cg').empty();
        $('#cpims_child_id').val(ui.item.id);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
});
</script>
{% endblock lazy_javascript_code %}
