 {% extends 'base.html' %}

{% load app_filters %}

{% load staticfiles %}

{% block page_title %} API - Pull {% endblock %}

{% block style_code %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<h1 class="page-header">API Consumer <small>Pull Person/OrgUnit</small></h1>

<div id="success_messages" class="alert alert-success fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-close fa-2x pull-left"></i>
    <ul class="messages">
       <p>Operation successful</p>
    </ul>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Person</b></h4>
                </div>
                <div class="panel-body">
                    <form id="api_pull_form" class="form-inline" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.person_id }}
                        </div>
                        <div class="form-group">
                            {{ form.person_type }}
                        </div>
                        <a href="#" class="btn btn-sm btn-primary m-r-5" onClick="search_person()">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search</b>
                        </a>
                    </form>        
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search OrgUnit</b></h4>
                </div>
                <div class="panel-body">
                    <form id="api_pull_form2" class="form-inline" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.org_unit_id }}
                        </div>
                        <div class="form-group">
                            {{ form.org_unit_type }}
                        </div>
                        <a href="#" class="btn btn-sm btn-primary m-r-5" onClick="search_orgunit()">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search</b>
                        </a>
                    </form>        
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title">API Response</h4>
                </div>
                <div class="panel-body">
                    <h6><span id="api_response"></span></h6>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>>
<script>
function search_person()
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person_id = $('#person_id').val();    
    var person_type = $('#person_type').val();
    var action = 1;
    var values = {
                    'csrfmiddlewaretoken': csrftoken,   
                    'person_type': person_type , 
                    'person_id' : person_id,
                 };

    $.ajax({
                url: '/api/persons/',
                dataType: 'json',
                method: 'GET',
                contentType: 'application/x-www-form-urlencoded',
                data: values,
                success: function(result)
                { 
                    $("#messages").css({ 'display': "block" });                   
                    $('#api_response').html(JSON.stringify(result));
                },
                error: function(xhr, status, error)
                {
                    $('#api_response').html('Error');
                }
            });
}

function search_orgunit()
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var org_unit_id = $('#org_unit_id').val();    
    var org_unit_type = $('#org_unit_type').val();
    var action = 1;
    var values = {
                    'csrfmiddlewaretoken': csrftoken,   
                    'org_unit_type': org_unit_type , 
                    'org_unit_id' : org_unit_id,
                 };

    $.ajax({
                url: '/api/orgunits/',
                dataType: 'json',
                method: 'GET',
                contentType: 'application/x-www-form-urlencoded',
                data: values,
                success: function(result)
                {
                    $("#messages").css({ 'display': "block" });
                    $('#api_response').html(JSON.stringify(result));
                },
                error: function(xhr, status, error)
                {
                    $('#api_response').html('Error');
                }
            });
}
</script>
{% endblock %}
