 {% extends 'base.html' %}

{% load app_filters %}

{% load staticfiles %}

{% block page_title %} API - Push {% endblock %}

{% block style_code %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}



{% block primary %}
<div id="messages" class="alert alert-success fade in" style="display:none;">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
       <p></p>
    </ul>
</div>

<h1 class="page-header">API Consumer <small>Push Person/OrgUnit</small></h1>

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Push Person</b></h4>
                </div>
                <div class="panel-body">
                    <form id="api_pull_form" class="form-inline" data-parsley-validate="true">
                        {% csrf_token %}
                        <a href="#" class="btn btn-sm btn-white m-r-5" onClick="push_person()">
                            Push Dummy Person &nbsp;&nbsp;<i class="fa fa-child"></i>
                        </a>

                        <a href="#" class="btn btn-sm btn-white m-r-5" onClick="push_orgunit()">
                            Push Dummy OrgUnit &nbsp;&nbsp;<i class="fa fa-home"></i>
                        </a>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title">API Response</h4>
                </div>
                <div class="panel-body">
                    <h6><span id="api_response"></span></h6>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>>
<script>
function push_orgunit()
{
    var data=new Array();
    var csrftoken=$.cookie('csrftoken');
    var org_unit_id_vis="NXXXXXX";
    var org_unit_name="ORGUNIT DUMMY";
    var org_unit_type_id="TNRC"; // cci
    var date_operational="";
    var parent_org_unit_id=2;
    var legal_reg_number=""
    var county = 47; // nairobi
    var sub_county = 272; //westlands
    var ward = 1704; // parklands/highridge
    var contact_detail_type_id = "CPHA"; // physical address
    var contact_value = "OLMIS OFFICES";
    var org_reg_type="TNNG"; // ngo organization
    var source ="OLMIS";
    var action=2;

    var values={
                    "csrfmiddlewaretoken": csrftoken, 
                    "org_unit_id_vis": org_unit_id_vis, 
                    "org_unit_name": org_unit_name,
                    "org_unit_type_id": org_unit_type_id,
                    "date_operational": date_operational,
                    "parent_org_unit_id": parent_org_unit_id,
                    "org_reg_type": org_reg_type,
                    "legal_reg_number": legal_reg_number,
                    "org_reg_type": org_reg_type,
                    "county": county,
                    "sub_county": sub_county,
                    "ward": ward,
                    "contact_detail_type_id": contact_detail_type_id,
                    "contact_value": contact_value,
                    "source": "OLMIS",
                    "action": action                   
                };

    $.ajax({
                url: '/api/orgunits/',
                dataType: 'json',
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: values,
                success: function(result)
                {
                    $("#messages").css({ 'display': "block" });
                    $("#messages p").html('API push for orgunits success');
                    $('#api_response').html(JSON.stringify(result));
                },
                error: function(xhr, status, error)
                {
                    console.log(status);
                }
            });    
}

function push_person()
{
    var data=new Array();
    var csrftoken=$.cookie('csrftoken');
    var designation='';
    var first_name='API';
    var other_names ='TEST';
    var surname='CHILD';
    var email='';
    var des_phone_number='';
    var sex_id='SMAL';
    var date_of_birth='';
    var date_of_death='';
    var person_types="TBVC"
    var living_in=176; // sub_county|nakuru
    var living_in_ward=871; // ward|london
    var source ="OLMIS"
    var action=1;

    var values={
                    "csrfmiddlewaretoken": csrftoken, 
                    "designation": "" , 
                    "first_name": first_name,
                    "other_names": other_names,
                    "surname": surname,
                    "email": email,
                    "des_phone_number": des_phone_number,
                    "sex_id": sex_id,
                    "date_of_birth": date_of_birth,
                    "date_of_death": date_of_death,
                    "person_types": person_types,
                    "living_in": living_in,
                    "living_in_ward": living_in_ward,
                    "source": "OLMIS",
                    "action": action
                   
                 };

    $.ajax({
                url: '/api/persons/',
                dataType: 'json',
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: values,
                success: function(result)
                {
                    $("#messages").css({ 'display': "block" });
                    $("#messages p").html("API push for persons success.");
                    $('#api_response').html(JSON.stringify(result));
                },
                error: function(xhr, status, error)
                {
                    console.log(status);
                }
            });
}
</script>
{% endblock %}
