{% load app_class %}
<ul class="nav">
	<li class="nav-header">Navigation</li>
	<li class="has-sub {{ request.path|get_class:'/' }}">
		<a href="{% url 'home' %}">
		    <i class="fa fa-laptop"></i>
		    <span>Home</span>
	    </a>
	</li>
	
	<li class="has-sub {{ request.path|get_class:'registry' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-suitcase"></i>
		    <span>Registry</span> 
		</a>
		<ul class="sub-menu">
			<li><a href="{% url 'registry' %}">Organizational Units</a></li>
			<li><a href="{% url 'search_persons' %}">Persons Registry</a></li>
		</ul>
	</li>
	
	<li class="has-sub {{ request.path|get_class:'forms' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>Forms</span>
		</a>
	    <ul class="sub-menu">
			<li><a href="{% url 'case_record_sheet' %}">Case Record Sheet</a></li>
			<li><a href="{% url 'residential_placement' %}">Institutional Placement</a></li>
			<li><a href="{% url 'alternative_family_care' %}">Alternative Family Care</a></li>
			<li><a href="{% url 'background_details' %}">School and Bursary</a></li>
			<li><a href="{% url 'forms_registry' %}">Follow-ups</a></li>
			<li><a href="{% url 'documents_manager' %}">Documents Manager</a></li>
		</ul>
		
	</li>					
	
	<li class="has-sub {{ request.path|get_class:'reports' }}">
	    <a href="#">
		    <b class="caret pull-right"></b>
	        <i class="fa fa-area-chart"></i>
		    <span>Reports</span>
		</a>
		<ul class="sub-menu">
		    <li><a href="{% url 'caseload_reports' %}">Case Load Report</a></li>
		    <li><a href="{% url 'cpims_reports' id=1 %}">KNBS Report</a></li>
		    <li><a href="{% url 'cpims_reports' id=2 %}">NCCS Report</a></li>
		    <li><a href="{% url 'cpims_reports' id=3 %}">Institutions Population Returns Report </a></li>
		    <li><a href="{% url 'cpims_reports' id=4 %}">Health Report </a></li>
		    <li><a href="{% url 'cpims_reports' id=5 %}">Ad Hoc Report </a></li>
		    <li><a href="{% url 'document_reports' %}">Document Templates </a></li>
		</ul>
	</li>
	
	<li class="has-sub {{ request.path|get_class:'gis' }}">
	    <a href="#">
	        <b class="caret pull-right"></b>
	        <i class="fa fa-map-marker"></i>
	        <span>GIS Module</span>
	    </a>
		<ul class="sub-menu">
			<li><a href="{% url 'gis_home' %}" >Vector Map</a></li>
			<li><a href="{% url 'gis_home' %}" >Google Map</a></li>
		</ul>
	</li>

	<li class="has-sub {{ request.path|get_class:'olmis' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-link"></i>
		    <span>API Demo</span> 
		</a>
		<ul class="sub-menu">
			<li><a href="{% url 'pull_data' %}">Pull Data</a></li>
			<li><a href="{% url 'push_data' %}">Push Data</a></li>
		</ul>
	</li>

	<li class="has-sub">
	    <a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-camera"></i>
		    <span>Gallery</span>
		</a>
	    <ul class="sub-menu">
	        <li><a href="#">Gallery One</a></li>
	        <li><a href="#">Gallery Two</a></li>
	    </ul>
	</li>			
	
	<li class="has-sub">
	    <a href="#">
	        <i class="fa fa-medkit"></i>
	        <span>Help and Documentation</span>
	    </a>
	</li>
    <!-- begin sidebar minify button -->
	<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify">
	    <i class="fa fa-angle-double-left"></i></a>
	</li>
    <!-- end sidebar minify button -->
</ul>
